{
  "extends": [
    "react-app",
    "standard",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/jsx-curly-spacing": [
      "warn",
      "never",
      {
        "allowMultiline": true
      }
    ],
    "react/jsx-curly-brace-presence": [
      "warn",
      {
        "props": "always",
        "children": "never"
      }
    ],
    "react/jsx-max-props-per-line": [
      "warn"
    ],
    "react/jsx-indent": [
      "warn",
      2
    ],
    "react/jsx-indent-props": [
      "warn",
      2
    ],
    "react/jsx-closing-tag-location": [
      "warn"
    ],
    "react/jsx-closing-bracket-location": [
      "warn"
    ],
    "react/jsx-first-prop-new-line": [
      "warn",
      "multiline"
    ]
  }
}