.button {
  font-size: 10px;
  max-width: 120px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: none;
  border: 2px solid #1e58ff;
  color: #1e58ff;
  cursor: pointer;
  text-align: center;
}