.wrapper {
  padding: 70px 80px 50px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60vw;
  //height: 90vh;
  background-color: #FFFAF3;
  position: fixed;
}

.form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  button {
    margin-top: 50px;
  }
}

input{
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid white;
  background-color:white;
  width: 250px;

  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;

  color: black;

  transition-duration: 0.25s;
  font-weight: 300;

  &:hover{
    background-color: white;
  }

}

.button {
  font-size: 10px;
  max-width: 120px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: none;
  border: 2px solid #1e58ff;
  color: #1e58ff;
  cursor: pointer;
  text-align: center;
}
.formItem {
  width: 100%;
  margin: 24px 0;
  position: relative;
  flex-shrink: 0;
}

.label {
  color: #7d7d7d;
  position: absolute;
  top: 3px;
  left: 0;
  transition: 0.2s ease-out all;
  font-size: 16px;
}