//@keyframes appear {
//  0% {
//    opacity: 0;
//    top: 35px;
//  }
//  100% {
//    opacity: 1;
//    top: 0;
//  }
//}

.wrapper {
  list-style: none;
  padding: 0 30px 50px 0;
  display: flex;
  align-items: center;
  position: relative;
  animation: appear .5s ease;
}

.image {
  flex-shrink: 0;
  margin-right: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.imageNone {
  @extend .image;

  background: url('https://unsplash.it/200/200') no-repeat;
  background-size: cover;
}

.description {
  margin: 10px 0 20px;
  font-weight: 300;
}

.button {
  font-size: 10px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: none;
  border: 2px solid #1E58FF;
  color: #1E58FF;
}


