.navItem {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  max-width: 120px;
  &Link {
    text-decoration: none;
    color: #818181;
    &Active {
      font-weight: 700;
    }
  };
}